.primeiraSessao{
    background-image: url(../../assets/backGround.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
}

.texto1{
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 33vw;
    padding-left: 10%;
}

.segundaSessao{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.sessaoContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(1, 87, 148, 0.3);
    height: 50vh;
    width: 20vw;
    border-radius: 10px;
}

.porque{
    padding-left: 10%;
    font-size: 4vh;
    color: rgba(0, 86, 149, 1);
}

.containerP{
    width: 15vw;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 780px){

    .primeiraSessao{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texto1{
        padding: 0;
        text-align: center;
        width: 85%;
        font-size: 28px;
    }

    .segundaSessao{
        height: 160vh;
        justify-content: space-evenly;
    }

    .sessaoContainer{
        flex-direction: column;
        height: 85%;
        justify-content: space-around;
    }

    .porque{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        width: 65vw;
        height: 30vh;
    }

    .imagens{
        height: 55px;
    }

    .containerP{
        font-size: 18px;
        width: 55vw;
    }

}