.header{
    background: linear-gradient(to right, rgba(0, 27, 47, 1), rgba(0, 86, 149, 1));
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
}

.book{
    height: 6vh;
}

.logoHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
    color: white;
}

.navHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.link{
    font-size: 18px;
}

a,button{
    color: white;
    font-size: 16px;
    display: inline-block;
    transition: 500ms;
}

a:hover, button:hover{
    color: lightblue;
    transform: scale(110%);
}

.barraDeBusca{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    width: 15vw;
    border: solid, 2px, white;
    border-radius: 20px;
}

.headerInput, .headerButton{
    background: none;
    border: none;
    
    
    &::placeholder{
        color: white;
        font-size: 1.8vh;
    }
}

button{
    cursor: pointer;
}

@media (max-width: 780px){
    .header{
        flex-direction: column;
        height: 15vh;
        
        h1{
            font-size: 23px;
        }
    }
    
    .logoHeader{
        width: 90%;
        justify-content: space-evenly;
    }

    .navHeader{
        width: 100%;
        align-items: center;
        justify-content: center;
        ul{
            width: 85%;
        }

    }

    .link{
        font-size: 19px;
    }

    .barraDeBusca{
        display: none;
    }
}