.doacoes{
    height: 100vh;

        h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        height: 10vh;
        }

}

.livros{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coraline{
    height: 28vh;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 8vh;
}


figure{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: solid, rgba(0, 86, 149, 1);
    border-radius: 20px;
    width: 20vw;
    height: 45vh;
}

.inteligente{
    height: 28vh;
}

@media (max-width: 780px){
    .doacoes{
        flex-direction: column;
        height: 140vh;
    }

    .livros{
        flex-direction: column;
        height: 85%;
    }

    figure{
        width: 65vw;
        height: 50vh;
    }

    .infos{
        font-size: 17px;
        width: 60vw;
    }

    .coraline,.inteligente{
        height: 26vh;
    }
}